/NaQ3/VSLNet_Bayesian/model/EgoVLP_weights/EgoVLP_text_model_and_proj.pth
/NaQ3/VSLNet_Bayesian/model/EgoVLP_weights/EgoVLP_text_model.pth
/NaQ3/VSLNet_Bayesian/model/EgoVLP_weights/EgoVLP_txt_proj.pth
/NaQ3/VSLNet_Bayesian/model/EgoVLP_weights/EgoVLP_vid_proj.pth